<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 pull-right">
    <div class="about">
        <div id="description" class="about__desc">
            <p class="about__paragraph">
                IT-Univer - это совместный проект бизнеса и классической высшей школы. Инициаторами проекта стали лидер
                российского рынка автоматизации бизнес-процессов, разработчик ПО, компания ELMA и Институт математики и
                информационных систем Вятского Государственного Университета.
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="about__card">
                    <p class="about__card-text">Обучение проходит на базе мощностей ВятГУ </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="about__certificate-link" target="_blank" href="#">
                    <p class="about__certificate-text">Удостоверение гособразца о повышении квалификации</p>
                </a>
            </div>
        </div>
        <div id="idea" class="about__idea">
            <h2 class="about__heading">Идея</h2>
            <p class="about__paragraph">
                С увеличением темпов научно-технического прогресса отрыв традиционного высшего образование от практики
                стал увеличиваться. Базовые фундаментальные знания предметной области уже недостаточны - необходима
                практикоориентированная подготовка специалистов, обеспечить которую могут только
                специалисты-прикладники. Спрос на специалистов в отрасли информационных технологий с каждым годом
                растет, а выпускники вузов слабо подготовлены к решению реальных задач бизнеса. Идея проекта IT-Univer
                состоит во взаимовыгодном сотрудничестве компаний отрасли и института высшего образования.
                Индустриальные партнеры:
            </p>

            <ul class="about__paragraph">
                <li>имеют возможность корректировать образовательную траекторию студентов;</li>
                <li>формируют у слушателей необходимые компетенции;</li>
                <li>получают прямой доступ к своим потенциальным сотрудникам и создают кадровый резерв.</li>
            </ul>

            <p class="about__paragraph">Вуз при этом:</p>

            <ul class="about__paragraph">
                <li>повышает практикоориентированность образования;</li>
                <li>налаживает взаимодействие с индустриальными партнерами, что позволяет получать актуальную обратную
                    связь о качестве образования;
                </li>
                <li>улучшает показатели своей деятельности в части профориентационной работы и трудоустройства
                    выпускников;
                </li>
            </ul>
        </div>

        <div id="history" class="about__idea">
            <h2 class="about__heading">История</h2>
            <p class="about__paragraph">
                Первоначально проект был запущен Юлией Батальцевой, HR-директором компании ELMA, в г. Ижевск для решения
                кадровых вопросов компании и развития регионального ИТ-сообщества. Однако проект, инициированный и
                управляющийся отдельной коммерческой компанией, имел в перспективе проблемы с масштабированием.
            </p>
            <p class="about__paragraph">
                В декабре 2017 года ИМИС ВятГУ предложил компании ELMA модернизировать проект и расширить его потенциал
                приземлением на площадку классического вуза. Организационные вопросы были решены быстро и уже в январе
                2018 года были проведены первые курсы в аудиториях ВятГУ. Участие вуза в качестве оператора проекта
                значительно повысило доверие к идее со стороны других индустриальных партнеров, а также расширило
                возможности по вовлечению студентов в новый формат дополнительного образования.
            </p>
        </div>

        <div id="faces" class="about__faces">
            <h2 class="about__heading">В лицах</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="faces">
                        <div class="faces__body clearfix">
                            <p class="faces__name">Кожемяко Игорь Викторович</p>
                            <p class="faces__position">Главный по цифрам</p>
                            <img class="faces__avatar" src="/assets/img/faces/1.jpg" alt="">
                        </div>
                        <p class="faces__phone">8 888 111 00 00</p>
                        <p class="faces__mail">itunivercourses@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="faces">
                        <div class="faces__body clearfix">
                            <p class="faces__name">Кожемяко Игорь Викторович</p>
                            <p class="faces__position">Главный по цифрам</p>
                            <img class="faces__avatar" src="/assets/img/faces/2.jpg" alt="">
                        </div>
                        <p class="faces__phone">8 888 111 00 00</p>
                        <p class="faces__mail">itunivercourses@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="faces">
                        <div class="faces__body clearfix">
                            <p class="faces__name">Кожемяко Игорь Викторович</p>
                            <p class="faces__position">Главный по цифрам</p>
                            <img class="faces__avatar" src="/assets/img/faces/3.jpg" alt="">
                        </div>
                        <p class="faces__phone">8 888 111 00 00</p>
                        <p class="faces__mail">itunivercourses@gmail.com</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="faces">
                        <div class="faces__body clearfix">
                            <p class="faces__name">Кожемяко Игорь Викторович</p>
                            <p class="faces__position">Главный по цифрам</p>
                            <img class="faces__avatar" src="/assets/img/faces/4.jpg" alt="">
                        </div>
                        <p class="faces__phone">8 888 111 00 00</p>
                        <p class="faces__mail">itunivercourses@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="reviews" class="about__testimonials testimonials">
            <h2 class="about__heading">Отзывы</h2>
            <div class="carousel">
                <div class="testimonials__carousel owl-carousel owl-theme">
                    <div class="testimonials__item">
                        <img class="testimonials__avatar" src="/assets/img/avatar.jpg" alt="">
                        <p class="testimonials__name">Алевтина Викторовна</p>
                        <p class="testimonials__position">Студент ВятГУ, 4 курс Институт прикладной математики и
                            информатики</p>
                        <p class="testimonials__paragraph">Введение в политику безопасности. Мониторинг трафика и
                            соединений. Трансляция адресов (NAT,ARP). Учетные записи пользователей и аутентификация.
                            Распознавание пользователей (Identity Awareness). Шифрование соединений и VPN. Работа с
                            событиями безопасности и SmartLo Введение в политику безопасности.</p>
                        <p class="testimonials__course">PROАналитика. Бизнес-процессы.</p>
                    </div>
                    <div class="testimonials__item">
                        <img class="testimonials__avatar" src="/assets/img/avatar.jpg" alt="">
                        <p class="testimonials__name">Алевтина Викторовна</p>
                        <p class="testimonials__position">Студент ВятГУ, 4 курс Институт прикладной математики и
                            информатики</p>
                        <p class="testimonials__paragraph">Введение в политику безопасности. Мониторинг трафика и
                            соединений. Трансляция адресов (NAT,ARP). Учетные записи пользователей и аутентификация.
                            Распознавание пользователей (Identity Awareness). Шифрование соединений и VPN. Работа с
                            событиями безопасности и SmartLo Введение в политику безопасности.</p>
                        <p class="testimonials__course">PROАналитика. Бизнес-процессы.</p>
                    </div>
                    <div class="testimonials__item">
                        <img class="testimonials__avatar" src="/assets/img/avatar.jpg" alt="">
                        <p class="testimonials__name">Алевтина Викторовна</p>
                        <p class="testimonials__position">Студент ВятГУ, 4 курс Институт прикладной математики и
                            информатики</p>
                        <p class="testimonials__paragraph">Введение в политику безопасности. Мониторинг трафика и
                            соединений. Трансляция адресов (NAT,ARP). Учетные записи пользователей и аутентификация.
                            Распознавание пользователей (Identity Awareness). Шифрование соединений и VPN. Работа с
                            событиями безопасности и SmartLo Введение в политику безопасности.</p>
                        <p class="testimonials__course">PROАналитика. Бизнес-процессы.</p>
                    </div>
                </div>
                <div class="carousel__nav testimonials__carousel-nav">
                    <div class="carousel__dots testimonials__carousel-dots"></div>
                </div>
            </div>
        </div>

        <div id="docs" class="about__doc">
            <h2 class="about__heading">Документы</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <a class="about__doc-link" href="#">
                        <div class="about__doc-property">
                            <p class="about__doc-type">.pdf</p>
                            <span class="about__doc-size">17.5 МБ</span>
                        </div>
                        <div class="about__doc-text">
                            <p class="about__doc-title">Устав образовательной организации</p>
                            <p class="about__doc-hint">Откроется в новой вкладке</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <a class="about__doc-link" href="#">
                        <div class="about__doc-property">
                            <p class="about__doc-type">.pdf</p>
                            <span class="about__doc-size">17.5 МБ</span>
                        </div>
                        <div class="about__doc-text">
                            <p class="about__doc-title">Устав образовательной организации</p>
                            <p class="about__doc-hint">Откроется в новой вкладке</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <a class="about__doc-link" href="#">
                        <div class="about__doc-property">
                            <p class="about__doc-type">.pdf</p>
                            <span class="about__doc-size">17.5 МБ</span>
                        </div>
                        <div class="about__doc-text">
                            <p class="about__doc-title">Лицензия на осуществление образовательной деятельности (с
                                приложениями)</p>
                            <p class="about__doc-hint">Откроется в новой вкладке</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <a class="about__doc-link" href="#">
                        <div class="about__doc-property">
                            <p class="about__doc-type">.pdf</p>
                            <span class="about__doc-size">17.5 МБ</span>
                        </div>
                        <div class="about__doc-text">
                            <p class="about__doc-title">Устав образовательной организации</p>
                            <p class="about__doc-hint">Откроется в новой вкладке</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 pull-right">
    <div class="filter">
        <div class="filter__body">
            <button class="filter__title">
                навигация по странице
                <span class="filter__icon-filter"></span>
            </button>
            <div class="filter__content sidebar-menu__wrap">
                <ul class="sidebar-menu">
                    <li class="sidebar-menu__item active"><a class="sidebar-menu__link sidebar-menu__link--main"
                                                             scrollTo href="#description">Описание</a></li>
                    <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--idea" scrollTo
                                                      href="#idea">Идея</a></li>
                    <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--history" scrollTo
                                                      href="#history">История</a></li>
                    <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--lecturer" scrollTo
                                                      href="#faces">В лицах</a></li>
                    <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--testimonials"
                                                      scrollTo href="#reviews">Отзывы</a></li>
                    <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--docs" scrollTo
                                                      href="#docs">Документы</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
