
<iframe class="map" src="https://snazzymaps.com/embed/102604" width="100%" style="border:none;"></iframe>

<footer class="footer-contacts">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="footer-contacts__column">
          <p class="footer-contacts__title">координатор</p>
          <p class="footer-contacts__name">Кожемяко Игорь Викторович</p>
          <a href="#" class="footer-contacts__phone">8 888 111 00 00</a>
          <a href="#" class="footer-contacts__mail">itunivercourses@gmail.com</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-contacts__column">
          <p class="footer-contacts__title">ИМИС</p>
          <p class="footer-contacts__name">Земцов Антон Валерьевич</p>
          <a href="#" class="footer-contacts__phone">8 (8332) 742 - 410</a>
          <p class="footer-contacts__address">610000, г. Киров, ул. Московская, д. 39 (2 корпус), каб. 204</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-contacts__column">
          <p class="footer-contacts__title">Социальные медиа</p>
          <div class="footer-contacts__social">
            <a class="footer-contacts__social-link footer-contacts__social-link--fb" href="#"></a>
            <a class="footer-contacts__social-link footer-contacts__social-link--tg" href="#"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
