<div class="popup-form__box">
  <div class="popup-form__wrap">
    <div class="overlay"></div>
    <div class="popup-form__outer js-form-login">
      <div class="popup-form__box">
        <button class="popup-form__btn-close js-popup-close"></button>
        <p class="popup-form__title">Личный кабинет</p>
        <form class="popup-form" action="">
          <div class="popup-form__row">
            <span class="popup-form__label">e-mail</span>
            <input class="popup-form__input" type="email">
          </div>
          <div class="popup-form__row popup-form__row">
            <span class="popup-form__label">Пароль</span>
            <input class="popup-form__input error" type="password">
            <span class="popup-form__popup-mess">Поле должно содержать символы кириллического алфавита</span>
          </div>
          <div class="popup-form__row-inline">
            <label class="popup-form__checkbox ch-box" for="remember">
              <input id="remember" class="popup-form__checkbox-input ch-box__input" type="checkbox">
              <span class="popup-form__checkbox-text ch-box__text">запомнить меня</span>
              <span class="ch-box__checkmark"></span>
            </label>
            <a class="popup-form__forgot-password" href="#">Забыли пароль?</a>
          </div>
          <div class="popup-form__btn-wrap">
            <button class="popup-form__btn popup-form__btn-filled">Войти</button>
            <button class="popup-form__btn popup-form__btn-bordered">регистрация</button>
          </div>
        </form>
      </div>
    </div>

    <div class="popup-form__outer js-form-register">
      <div class="popup-form__box">
        <button class="popup-form__btn-close js-popup-close"></button>
        <p class="popup-form__title">Регистрация</p>
        <form class="popup-form" action="">
          <div class="popup-form__row">
            <span class="popup-form__label">Имя</span>
            <input class="popup-form__input" type="text">
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Отчество</span>
            <input class="popup-form__input error" type="text">
            <span class="popup-form__popup-mess">Поле должно содержать символы кириллического алфавита</span>
          </div>
          <div class="popup-form__row popup-form__row-offset">
            <span class="popup-form__label">Фамилия</span>
            <input class="popup-form__input" type="text">
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">e-mail</span>
            <input class="popup-form__input" type="email">
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Телефон</span>
            <input class="popup-form__input" type="tel">
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Выберите</span>
            <div class="dropdown-select">
              <input class="dropdown-select__val" name="city" type="hidden">
              <button class="dropdown-select__input">Вятский Государственный Универ</button>
              <ul class="dropdown-select__options">
                <li class="dropdown-select__option active">Вятский Государственный Универ</li>
                <li class="dropdown-select__option">Вятский Государственный Универ</li>
                <li class="dropdown-select__option">Вятский Государственный Универ</li>
                <li class="dropdown-select__option">Вятский Государственный Универ</li>
              </ul>
            </div>
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Населенный пункт</span>
            <div class="dropdown-select">
              <input class="dropdown-select__val" name="city" type="hidden">
              <div class="dropdown-select__input">Киров</div>
              <ul class="dropdown-select__options">
                <li class="dropdown-select__option active">Киров</li>
                <li class="dropdown-select__option">Кирово-Чепецк</li>
                <li class="dropdown-select__option">Вятский поляны</li>
                <li class="dropdown-select__option">Слободсткой</li>
              </ul>
            </div>
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Пароль</span>
            <input class="popup-form__input" type="password">
          </div>
          <div class="popup-form__row">
            <span class="popup-form__label">Повторите пароль</span>
            <input class="popup-form__input" type="password">
          </div>
          <div class="popup-form__btn-wrap">
            <button class="popup-form__btn popup-form__btn-filled">регистрация</button>
            <button class="popup-form__btn popup-form__btn-bordered">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
