
<div class="program" [ngStyle]="{ 'background-image': 'url(http://ituniver.vyatsu.ru/uploads/' + picture + ')', 'background-repeat': 'no-repeat' }">
  <div class="program__head">
    <span class="program__date">{{ startDateDay }} {{ startDateMonth }} - {{ endDateDay }} {{ endDateMonth }}</span>
  </div>
  <p class="program__title">{{ course.course.name }}</p>
  <!--<div class="program__tags">-->
    <!--<a class="program__tag" href="#">#Бизнес-процессы</a>-->
    <!--<a class="program__tag" href="#">#Аналитика</a>-->
  <!--</div>-->
  <div class="cope_text line-clamp">
    <p>{{ course.course.description }}</p>
  </div>
  <div class="program__footer">
    <div class="program__info">
      <div class="program__info-item">
        <p class="program__info-title">Расписание</p>
        <p class="program__info-text-schedule">{{ course.schedule }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="course.place !== null" class="program__footer">
    <div class="program__info">
      <div class="program__info-item">
        <p class="program__info-title">Место проведения</p>
        <p class="program__info-text-schedule">{{ course.place }}</p>
      </div>
    </div>
  </div>
  <div class="program__footer">
    <div class="program__info">
      <div *ngIf="+course.course.volume !== 0" class="program__info-item">
        <p class="program__info-title">Объем курса</p>
        <p class="program__info-text">{{ course.course.volume }}<sup>ч</sup></p>
      </div>
      <!--<div class="program__info-item">-->
        <!--<p class="program__info-title">Время</p>-->
        <!--<p class="program__info-text">18<sup>00</sup> - 20 <sup>00</sup></p>-->
      <!--</div>-->
      <!--<div class="program__info-item">-->
        <!--<p class="program__info-title">Мест осталось</p>-->
        <!--<p class="program__info-text">0</p>-->
      <!--</div>-->
      <div class="program__info-item">
        <p class="program__info-title">Автор курса</p>
        <p class="program__info-text"><img class="program__info-logo-hor" [src]="'http://ituniver.vyatsu.ru/uploads/' + course.course.company.avatar_hor" alt=""></p>
      </div>
    </div>
    <div class="program__btns">
      <a [routerLink]="['course', course.id]" class="program__btn program__btn--more">Подробнее</a>
      <button *ngIf="!data.isReg && isClosed()" (click)="login()" class="btn-subscribe btn-subscribe-card">Узнать о следующем наборе</button>
      <button *ngIf="data.isReg && isClosed() && isSubscriptionShowed" (click)="subscribeForCourse(); isSubscriptionShowed = false;" class="btn-subscribe btn-subscribe-card">Узнать о следующем наборе</button>
      <button *ngIf="data.isReg && isClosed() && !isSubscriptionShowed" class="program__btn program__btn--registeroff" disabled>Вы подписаны</button>
      <button *ngIf="!data.isReg && !isClosed()" (click)="login()" class="program__btn program__btn--register">Записаться</button>
      <button *ngIf="isApplyShowed && data.isReg && !isClosed()" (click)="signUpForCourse(course.id); isApplyShowed = false;" class="program__btn program__btn--register">Записаться</button>
      <button *ngIf="!isApplyShowed  && data.isReg && !isClosed()" class="program__btn program__btn--registeroff" disabled>Вы записаны</button>
    </div>
  </div>
</div>
