<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 pull-right">
  <div class="course">
    <div class="row">
      <div id="main" class="col-xs-12 col-sm-5 col-md-6">
        <div class="course__dates">
          <span class="course__date">{{ startDateDay }} <span class="course__month">{{ startDateMonth }}</span></span> - <span class="course__date">{{ endDateDay }}  <span class="course__month">{{ endDateMonth }}</span></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-0">
        <div class="mock-map">
          <!--<button class="mini-map__icon-expand"></button>-->
          <!--<p class="mini-map__text">г. Киров, Преображенская 65, 2 этаж</p>-->
          <!--<div class="mini-map__modal">-->
            <!--<iframe class="mini-map__modal-map" src="https://snazzymaps.com/embed/102604" width="100%" style="border:none;"></iframe>-->
          <!--</div>-->
        </div>
      </div>
      <!--<div class="col-xs-6 col-sm-3 col-md-4">-->
        <!--<div class="box box&#45;&#45;volume">-->
          <!--<p class="box__title">Объем курса</p>-->
          <!--<p class="box__value">10 <sup>ч</sup></p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-6 col-sm-3 col-md-4">-->
        <!--<div class="box box&#45;&#45;time">-->
          <!--<p class="box__title">Время</p>-->
          <!--<p class="box__value">10 <sup>00</sup> - 10 <sup>00</sup></p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-6 col-sm-3 col-md-4">-->
        <!--<div class="box box&#45;&#45;places">-->
          <!--<p class="box__title">Мест осталось</p>-->
          <!--<p class="box__value">10</p>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-xs-6 col-sm-3 col-md-4">
        <div class="box box--before">
          <p class="box__title">Запись до</p>
          <p class="box__value">{{applyEndDateDay}} <sup>{{applyEndDateMonth}}</sup></p>
        </div>
      </div>
      <!--<div class="col-xs-6 col-sm-3 col-md-4">-->
        <!--<div class="box box&#45;&#45;seminar">-->
          <!--<p class="box__title">Семинар</p>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-xs-6 col-sm-3 col-md-4">
        <div class="box box--workshop">
          <p class="box__title">Практический курс</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div *ngIf="course">
          <div *ngIf="isClosed() && !this.isSubscriptionExists(courseId)" class="course__warning">
            <p class="course__warning-message">Прием заявок завершен. Оповестить вас когда курс выйдет снова?</p>
            <button *ngIf="data.isReg" (click)="subscribeForCourse()" class="course__btn-mail"></button>
            <button *ngIf="!data.isReg" (click)="subs()" class="course__btn-mail"></button>
          </div>
        </div>
        <div class="course__description clearfix">
          <p>{{ description }}</p>
        </div>
        <div id="lecturer" class="course__lecturer lecturer">
          <div class="lecturer__inner">
            <div class="lecturer__tags">
              <span class="lecturer__tag">лектор</span>
            </div>
            <p class="lecturer__name">{{ lecturerName }}</p>
            <p class="lecturer__position">{{ lecturerAbout }}</p>
            <img class="lecturer__company" [src]="companyLogo" alt="">
            <p class="lecturer__bg">{{ companyName }}</p>
            <p class="lecturer__note">{{description}}</p>

          </div>
          <img class="lecturer__photo" [src]="lecturerPhoto" alt="">
        </div>
        <!--<div class="course__demands">-->
          <!--<h3 class="course__heading">Требования к студенту</h3>-->
          <!--<ul class="list-check">-->
            <!--<li>Неоконченное высшее/Высшее образование в сфере ИТ/Математика/Бизнес-анализ</li>-->
            <!--<li>Аналитический склад ума</li>-->
            <!--<li>Навыки работы с большими объемами информации и систематизации этой информации</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="course__subjects">-->
          <!--<h3 class="course__heading">Предметы</h3>-->
          <!--<div class="subject__inner">-->
            <!--<div class="subject">-->
              <!--<img src="/assets/img/Сompetence/php.png" alt="" class="subject__img">-->
              <!--<p class="subject__title">PHP</p>-->
            <!--</div>-->
            <!--<div class="subject">-->
              <!--<img src="/assets/img/Сompetence/mysql.png" alt="" class="subject__img">-->
              <!--<p class="subject__title">MySQL</p>-->
            <!--</div>-->
            <!--<div class="subject">-->
              <!--<img src="/assets/img/Сompetence/html.png" alt="" class="subject__img">-->
              <!--<p class="subject__title">HTML</p>-->
            <!--</div>-->
            <!--<div class="subject">-->
              <!--<img src="/assets/img/Сompetence/css.png" alt="" class="subject__img">-->
              <!--<p class="subject__title">CSS</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="course__program">
          <h3 class="course__heading">Программа</h3>
          <div *ngFor="let week of weeks" class="day">
            <h3 class="day__title">{{ week.name }}</h3>
            <div class="day__content">
              <!--<h4 *ngFor="let topic of week.topics" class="day__subtitle">{{ topic.name }}</h4>-->
              <ul class="multi-list">
                <li *ngFor="let topic of week.topics">{{ topic.name }}</li>
              </ul>
            </div>
            <!--<span class="day__btn-toggle"></span>-->
          </div>
        </div>
        <div class="course__extra">
          <h3 class="course__heading">Дополнительно</h3>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-6">
              <a class="course__extra-link" href="/assets/img/doc.png" data-lightbox="image-1">
                <img class="course__extra-img" src="/assets/img/doc.png" alt="">
              </a>
              <p class="course__extra-text">После прохождения программы и выполнения требований курса получение удостоверения о повышении квалификации гос. образца.</p>
            </div>

          </div>
        </div>

        <div *ngIf="courseSignUpPage !== 5 && !isClosed() && !isInstanceExists(id)" class="course__enroll">
          <h3 class="course__heading">Записаться на курс</h3>
          <form  class="course__form form" [class.form__1]="courseSignUpPage === 1"
                 [class.form__2]="courseSignUpPage === 2"
                 [class.form__3]="courseSignUpPage === 3"
                 [class.form__4]="courseSignUpPage === 4">
            <div *ngIf="courseSignUpPage === 1" class="form__step active">
              <div class="form__info">
                <p class="form__text">Запись ведется до {{applyEndDateDay}} {{applyEndDateMonth}}</p>
                <!--<p class="form__text">Группа до 12 человек</p>-->
              </div>
              <h4 class="form__title">Статус учащегося</h4>
              <p  class="form__subtitle">Выберите соответствующий статус</p>
              <label class="form__label ch-box" for="status1">
                <input id="status1" name="status" class="ch-box__input" type="radio" checked="checked">
                <span class="ch-box__text">Студент Вятгу</span>
                <span class="ch-box__checkmark"></span>
              </label>
              <label class="form__label ch-box" for="status2">
                <input id="status2" name="status" class="ch-box__input" type="radio">
                <span class="ch-box__text">Сотрудник Вятгу</span>
                <span class="ch-box__checkmark"></span>
              </label>
              <label class="form__label ch-box" for="status3">
                <input id="status3" name="status" class="ch-box__input" type="radio">
                <span class="ch-box__text">Другое</span>
                <span class="ch-box__checkmark"></span>
              </label>
            </div>
            <div *ngIf="courseSignUpPage === 2" class="form__step active">
              <div class="form__info">
                <p class="course__form-text">Запись ведется до {{applyEndDateDay}} {{applyEndDateMonth}}</p>
                <!--<p class="course__form-text">Группа до 12 человек</p>-->
              </div>
              <h4 class="form__title">фио</h4>
              <p  class="form__subtitle">Введите Фамилию Имя Отчество</p>
              <input class="form__input" [(ngModel)]="listenerName" name="name" placeholder="Иванов Иван Иванович" type="text">
            </div>
            <div *ngIf="courseSignUpPage === 3" class="form__step active">
              <div class="form__info">
                <p class="course__form-text">Запись ведется до {{applyEndDateDay}} {{applyEndDateMonth}}</p>
                <!--<p class="course__form-text">Группа до 12 человек</p>-->
              </div>
              <h4 class="form__title">e-mail</h4>
              <p  class="form__subtitle">Введите ваш e-mail</p>
              <input  class="form__input" [(ngModel)]="email" name="email" placeholder="e-mail" type="text">
            </div>
            <div *ngIf="courseSignUpPage === 4" class="form__step active">
              <div class="form__info">
                <p class="course__form-text">Запись ведется до {{applyEndDateDay}} {{applyEndDateMonth}} </p>
                <!--<p class="course__form-text">Группа до 12 человек</p>-->
              </div>
              <h4 class="form__title">Телефон</h4>
              <p  class="form__subtitle">Введите ваш Телефон</p>
              <input class="form__input" [(ngModel)]="phone" name="phone" placeholder="Телефон" type="text">
            </div>
            <button class="form__btn-next" (click)="signUpForCourse()">Далее</button>
            <div class="form__progress-steps">
              <span class="form__progress-step" [class.active]="courseSignUpPage === 1">Статус</span>
              <span class="form__progress-step" [class.active]="courseSignUpPage === 2">ФИО</span>
              <span class="form__progress-step" [class.active]="courseSignUpPage === 3">e-mail</span>
              <span class="form__progress-step" [class.active]="courseSignUpPage === 4">Телефон</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 pull-right">
  <div class="filter">
    <a scrollTo href="#filter__body" class="filter__head">
      <div class="filter__inner">
        <p class="filter__head-subtitle">о курсе</p>
      </div>
      <span class="filter__icon-arrow"></span>
    </a>
    <div id="filter__body" class="filter__body">
      <button class="filter__title">
        навигация по курсу
        <span class="filter__icon-filter"></span>
      </button>
      <div class="filter__content sidebar-menu__wrap">
        <ul class="sidebar-menu">
          <li class="sidebar-menu__item active"><a class="sidebar-menu__link sidebar-menu__link--main" href="#main">Основное</a></li>
          <li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link--lecturer" scrollTo href="#lecturer">Лектор</a></li>
          <!--<li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link&#45;&#45;demands" href="#">Требования</a></li>-->
          <!--<li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link&#45;&#45;subjects" href="#">Предметы</a></li>-->
          <!--<li class="sidebar-menu__item"><a class="sidebar-menu__link sidebar-menu__link&#45;&#45;program" href="#">Программа</a></li>-->
        </ul>
        <button *ngIf="data.isReg && !this.isSubscriptionExists(courseId)" class="btn-subscribe" (click)="subscribeForCourse()">подписаться на курс</button>
        <button *ngIf="!data.isReg" class="btn-subscribe js-btn-login" (click)="subs()">подписаться на курс</button>
      </div>
    </div>
  </div>
</div>
