<div [class.page-contacts]="page === 3"
     [class.page-about]="page === 2"
     [class.page-default]="page === 1"
     [class.page-about]="page === 4">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <a routerLink="/" class="header__logo-img"></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a routerLink="/" class="header__logo-text">Институт математики<br> и информационных систем</a>
                </div>
                <div class="col-md-7 col-lg-6 top-nav__wrap">
                    <nav class="top-nav">
                        <a class="top-nav__item" routerLink="">Каталог курсов</a>
                        <a class="top-nav__item" routerLink="/about">О проекте</a>
                        <a class="top-nav__item" routerLink="/contacts">Контакты</a>
                    </nav>
                </div>
                <div class="col-xs-2 col-sm-1 col-sm-offset-6 col-md-1 hidden-md hidden-lg">
                    <button class="header__btn-wrap">
						<span class="header__btn-menu">
							<span class="header__btn-line"></span>
							<span class="header__btn-line"></span>
							<span class="header__btn-line"></span>
						</span>
                    </button>
                </div>
                <div *ngIf="showRegInfo" class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-lg-offset-1">
                    <div class="header__btn-cabinet">
                        <div class="header__dropdown">
                            <a class="header__btn-login js-btn-login" (click)="data.showLogin = true">Войти</a>
                            <a class="header__btn-login" (click)="data.showReg = true">Регистрация</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!showRegInfo" class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-lg-offset-1">
                    <div class="header__btn-cabinet">
                        <div class="header__dropdown">
                            <a class="header__btn-login js-btn-login" (click)="profile()">Личный кабинет</a>
                            <a class="header__btn-login" (click)="logout()">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div *ngIf="page === 1" class="header__info">
                        <h1 class="header__title">
                            Профессиональное прикладное <span class="text-nowrap">IT-образование.</span>
                        </h1>
                        <p class="header__text">
                            Практическое обучение востребованным фреймворкам, технологиям и языкам разработки ПО от
                            ведущих ИТ-компаний страны. Повышение квалификации, переподготовка, трудоустройство.
                        </p>
                    </div>
                    <div *ngIf="page === 2" class="header__info">
                        <div class="breadcrumbs">
                            <a routerLink="/" class="breadcrumbs__link">ИМИС</a>
                            <span class="breadcrumbs__separator"></span>
                            <span class="breadcrumbs__current">О проекте</span>
                        </div>
                        <h1 class="header__title">О проекте</h1>
                    </div>
                    <div *ngIf="page === 3" class="header__info">
                        <div class="breadcrumbs">
                            <a href="#" class="breadcrumbs__link">ИМИС</a>
                            <span class="breadcrumbs__separator"></span>
                            <span class="breadcrumbs__current">Контакты</span>
                        </div>
                        <h1 class="header__title">Контакты</h1>
                    </div>
                    <div *ngIf="page === 4" class="header__info">
                        <a class="header__link-back" routerLink="">Список курсов</a>
                        <h1 class="header__title">{{name}}</h1>
                        <!--<div class="header__tags">-->
                        <!--<a href="#" class="tag">#Бизнес-процессы</a>-->
                        <!--<a href="#" class="tag">#Аналитика</a>-->
                        <!--</div>-->
                        <p class="header__organizer">elma <img class="header__organizer-logo" src="/img/elma.png"
                                                               alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <router-outlet *ngIf="page === 3"></router-outlet>
    <div *ngIf="page !== 3" class="container">
        <div class="row content">
            <router-outlet></router-outlet>
            <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
                <footer class="footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-12">
                            <a class="footer__phone" href="tel:88881110000">8 888 111 00 00</a>
                            <a class="footer__mail"
                               href="mailto:itunivercourses@gmail.com">itunivercourses@gmail.com</a>
                            <p class="footer__address">Учебный корпус №2. Адрес: 610000
                                г. Киров, ул. Московская, д. 39</p>
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-12">
                            <div class="footer__social">
                                <a class="footer__social-link footer__social--fb" href=""></a>
                                <a class="footer__social-link footer__social--tg" href=""></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-12">
                            <ul class="footer__links">
                                <li><a class="footer__link footer__link--text" href="#" download><span>Правила для учащихся</span></a>
                                </li>
                                <li><a class="footer__link footer__link--text" href="#" download><span>Правила для компаний-участников IT&nbsp;Univer</span></a>
                                </li>
                                <li><a class="footer__link footer__link--doc" href="#" download><span>Положение Об IT Univer</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Загрузка...</p>
        </ngx-spinner>
        <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
    </div>
    <div *ngIf="data.showLogin" class="popup-form__box">
        <div class="popup-form__wrap">
            <div class="overlay"></div>
            <div class="popup-form__outer js-form-login">
                <div class="popup-form__box">
                    <button class="popup-form__btn-close js-popup-close" (click)="data.showLogin = false"></button>
                    <p class="popup-form__title">Личный кабинет</p>
                    <div class="popup-form" action="">
                        <div class="popup-form__row">
                            <span class="popup-form__label">e-mail</span>
                            <input class="popup-form__input" [(ngModel)]="email" type="email">
                        </div>
                        <div class="popup-form__row popup-form__row">
                            <span class="popup-form__label">Пароль</span>
                            <input class="popup-form__input error" [(ngModel)]="password" type="password">
                            <span class="popup-form__popup-mess">Поле должно содержать символы
кириллического алфавита</span>
                        </div>
                        <div class="popup-form__row-inline">

                            <a class="popup-form__forgot-password" href="#" (click)="reset()">Забыли пароль?</a>
                        </div>
                        <div class="popup-form__btn-wrap">
                            <button class="popup-form__btn popup-form__btn-filled" (click)="login()">Войти</button>
                            <button class="popup-form__btn popup-form__btn-bordered"
                                    (click)="data.showLogin = false; data.showReg = true">регистрация
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="data.showReg" class="popup-form__box">
        <div class="popup-form__wrap">
            <div class="overlay"></div>
            <div class="popup-form__outer js-form-register">
                <div class="popup-form__box">
                    <button class="popup-form__btn-close js-popup-close" (click)="data.showReg = false"></button>
                    <p class="popup-form__title">Регистрация</p>
                    <div class="popup-form">
                        <div class="popup-form__row">
                            <span class="popup-form__label">Имя</span>
                            <input class="popup-form__input" type="text" [(ngModel)]="first_name">
                        </div>
                        <div class="popup-form__row">
                            <span class="popup-form__label">Отчество</span>
                            <input class="popup-form__input" type="text" [(ngModel)]="father_name">
                        </div>
                        <div class="popup-form__row popup-form__row-offset">
                            <span class="popup-form__label">Фамилия</span>
                            <input class="popup-form__input" type="text" [(ngModel)]="last_name">
                        </div>
                        <div class="popup-form__row">
                            <span class="popup-form__label">e-mail</span>
                            <input class="popup-form__input" type="email" [(ngModel)]="reg_email">
                        </div>
                        <div class="popup-form__row">
                            <span class="popup-form__label">Телефон</span>
                            <input class="popup-form__input" type="tel" prefix="+7" mask="0000000000"
                                   [(ngModel)]="phone">
                        </div>
                        <div class="popup-form__row">
                            <span class="popup-form__label">Пароль</span>
                            <input class="popup-form__input" type="password" [(ngModel)]="reg_password">
                        </div>
                        <div class="popup-form__row">
                            <span class="popup-form__label">Повторите пароль</span>
                            <input class="popup-form__input" type="password" [(ngModel)]="repeat_password">
                        </div>
                        <div *ngIf="!allCorrect"
                             class="alert alert-danger">

                            <div *ngIf="!isNameCorrect">
                                Имя введено неверно!
                            </div>
                            <div *ngIf="!isEmailValid">
                                E-mail введен неверно!
                            </div>
                            <div *ngIf="!isPhoneCorrect">
                                Телефон введен неверно!
                            </div>
                            <div *ngIf="!isUniversityCorrect">
                                Университет не выбран!
                            </div>
                            <div *ngIf="!isCityCorrect">
                                Город не выбран!
                            </div>
                            <div *ngIf="!isPasswordMatch">
                                Пароли не совпадают!
                            </div>

                        </div>
                        <div class="popup-form__btn-wrap">
                            <button class="popup-form__btn popup-form__btn-filled" (click)="registerUser()">
                                регистрация
                            </button>
                            <button class="popup-form__btn popup-form__btn-bordered"
                                    (click)="data.showLogin = true; data.showReg = false;">Войти
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

