    <div *ngIf="courses !== null" id="courses" class="col-xs-12 col-sm-12 col-md-7 pull-right">
      <div *ngIf="newCourses !== null && newCourses.length > 0">
      <div style="padding-top: 20px; font-size: 30px;"><b>Скоро</b></div>
      <div class="program__wrap">
        <div *ngFor="let course of newCourses">
           <app-course-card [course]="course" [showbutton]="isInstanceExists(course.id)" [showsubscription]="isSubscriptionExists(course.course.id)"></app-course-card>
        </div>
      </div>
      </div>
      <div *ngIf="oldCourses !== null && oldCourses.length > 0">
        <div style="padding-top: 20px; font-size: 30px;"><b>Прошедшие</b></div>
        <div class="program__wrap">
          <div *ngFor="let course of oldCourses">
            <app-course-card [course]="course" [showbutton]="isInstanceExists(course.id)" [showsubscription]="isSubscriptionExists(course.course.id)"></app-course-card>
          </div>
        </div>
      </div>
      <button *ngIf="courseLimit < courses.data.course_instances.length" class="btn__more" (click)="loadNew()">загрузить ещё </button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
      <div class="filter">
        <a scrollTo href="#courses" class="filter__head">
          <div class="filter__inner">
            <p class="filter__head-title">Нужно повысить скилл?</p>
            <p class="filter__head-subtitle">выбрать курс</p>
          </div>
          <span class="filter__icon-arrow"></span>
        </a>
        <div id="filter__body" class="filter__body">
          <button class="filter__title">
            фильтр по курсам
            <span class="filter__icon-filter"></span>
          </button>
          <div  class="filter__content">
            <p class="filter__heading">Сначала</p>
            <div class="filter__first">
              <span class="filter__first-radio filter__first-radio--hot">
									<input id="hot" name="first" class="filter__first-input" type="radio" checked="checked">
									<label for="hot" class="filter__first-label">Скоро</label>
								</span>
              <span class="filter__first-radio filter__first-radio--pop">
									<input id="pop" name="first" class="filter__first-input" type="radio">
									<label for="pop" class="filter__first-label">Популярное</label>
								</span>
            </div>
            <!--<p class="filter__heading">Отображать</p>-->
            <!--<div class="filter__chb">-->
            <!--<label class="filter__chb-label ch-box" for="type1">-->
            <!--<input id="type1" class="ch-box__input" type="checkbox" checked="checked">-->
            <!--<span class="ch-box__text">практические курсы</span>-->
            <!--<span class="ch-box__checkmark"></span>-->
            <!--</label>-->
            <!--<label class="filter__chb-label ch-box" for="type2">-->
            <!--<input id="type2" class="ch-box__input" type="checkbox">-->
            <!--<span class="ch-box__text">семинары</span>-->
            <!--<span class="ch-box__checkmark"></span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<p class="filter__heading">Отображать по тегам</p>-->
            <!--<div class="filter__tags">-->
            <!--<span class="filter__tags-inner">-->
            <!--<input id="tag1" class="filter__tags-input" type="checkbox">-->
            <!--<label class="filter__tags-label" for="tag1">#Базы данных [3]</label>-->
            <!--</span>&lt;!&ndash;-->
            <!--&ndash;&gt;<span class="filter__tags-inner">-->
            <!--<input id="tag2" class="filter__tags-input" type="checkbox">-->
            <!--<label class="filter__tags-label" for="tag2">#Базы данных [2]</label>-->
            <!--</span>&lt;!&ndash;-->
            <!--&ndash;&gt;<span class="filter__tags-inner">-->
            <!--<input id="tag3" class="filter__tags-input" type="checkbox">-->
            <!--<label class="filter__tags-label" for="tag3">#Базы данных [1]</label>-->
            <!--</span>&lt;!&ndash;-->
            <!--&ndash;&gt;<span class="filter__tags-inner">-->
            <!--<input id="tag4" class="filter__tags-input" type="checkbox">-->
            <!--<label class="filter__tags-label" for="tag4">#Базы данных [2]</label>-->
            <!--</span>&lt;!&ndash;-->
            <!--&ndash;&gt;<span class="filter__tags-inner">-->
            <!--<input id="tag5" class="filter__tags-input" type="checkbox">-->
            <!--<label class="filter__tags-label" for="tag5">#Базы данных [1]</label>-->
            <!--</span>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
